/*
    Contenedores
*/
.contendorCentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contendorCentrado > input, button{
    display: block;
    margin: 10px;
    
}


h1{
    text-align: center;
}

/*
Estilos de tabla
*/

table{
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    border: 1px solid black;
}