/*
    Contenedores
*/
.contendorCentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contendorCentrado > input, button{
    display: block;
    margin: 10px;
    
}


h1{
    text-align: center;
}


/*
    Botones de menu
*/
.enlacesDeMenu {
    display: inline-block; /* Hace que el enlace se comporte como un bloque */
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 25px; /* Espaciado interno (padding) */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
    margin: 10px 0; /* Espaciado entre los botones */
    display: block;
}

.enlacesDeMenu:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    background-color: red; /* Cambia a un color más oscuro en hover */
}
